body {
  margin: 0;
  background-image: url(https://i.pinimg.com/originals/4c/44/71/4c447188245c48db44f85b2ebb631804.jpg);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.display {
  width: calc(72px + 39vw);
  height: calc(10px + 10vh);
  font-size: calc(10px + 10vh);
  background-color: #202020;
  color: white;
  text-align: right;
  padding: 0 1vw 0.7vw 0;
}

h1 {
  background-color: blanchedalmond;
  opacity: 0.9;
  text-shadow: 1px 1px black;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  width: max-content;
  height: 30px;
}

a {
  text-decoration: none;
}

.App {
  align-self: center;
}

.panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0;
  margin: 0;
  padding: 0;
}

.panel-button > * {
  background-color: white;
  width: calc(18px + 10vw);
  height: calc(10px + 13vh);
  font-size: calc(12px + 1.5vw);
  border: 0.5px solid black;
}

.panel .panel-button:nth-child(4n) > *,
.panel .panel-button:nth-child(19) > * {
  background-color: #f97f11;
  color: white;
  width: calc(18px + 10vw);
  height: calc(10px + 13vh);
  font-size: calc(12px + 1.5vw);
  border: 0.5px solid black;
}

.panel .panel-button:nth-child(17) {
  grid-column: span 2;
}

.panel .panel-button:nth-child(17) > * {
  width: calc(36px + 20vw);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

img {
  width: 20%;
}

.disp {
  flex-direction: column;
  padding: 2%;
}

.quote-container {
  display: flex;
  background-color: blanchedalmond;
  opacity: 0.9;
  text-shadow: 1px 1px black;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  width: 80%;
  margin-left: 9%;
  margin-top: 2%;
}

.side-text {
  padding: 5%;
  max-width: 70%;
}
